<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        {% for key,res in data %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ res }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>